IDEFIX_ADMIN_TOKENS=IDEFIX_ADMIN_TOKEN_1,IDEFIX_ADMIN_TOKEN_2
BAN_API_URL=https://plateforme.adresse.data.gouv.fr/api
BAN_API_TOKEN=
BAN_LEGACY_API_TOKEN=
API_DEPOT_URL=https://plateforme-bal.adresse.data.gouv.fr/api-depot